html{
    scroll-behavior: smooth;
}
.carousel-inner > .carousel-item > img {
    max-height: 500px!important;
}
.hero{
    background: url("slider-1.png") no-repeat;
    background-size: cover;
    width: 100%;
}
.navbar{
    min-height: 80px!important;
}
.nav-redes > img{
    opacity: 0.6;
    transition: opacity 0.2s;
}
.nav-redes > img:hover{
    opacity: 0.8;
}
.navbar-dark .navbar-nav .nav-link{
    color: rgba(255,255,255,.6)!important;
    transition: color 0.2s;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgba(255,255,255,.8)!important;
}
.hero h1{
    font-weight: bolder;
    text-transform: uppercase;
    overflow-wrap: break-word!important;
}
.hero p{
    font-size: 22pt;
    font-style: italic;
    font-weight: lighter;
}
.equipo .card-body > img{
    max-width: 100%;
    max-height: 125px;
    margin: auto auto 10px;
}
.titulo{
    font-weight: bolder;    
}
#quienes-somos,#noticias,#somos-uptaeb{
    background-repeat: no-repeat;
}
#quienes-somos{
    background-image: url('bg-seccion3.png');    
    background-position: left;
}
#noticias{
    background-image: url('bg-seccion.png');    
    background-position: right;}
#somos-uptaeb{
    background-image: url('bg-seccion2.png');    
    background-position: center;
}